@charset "UTF-8";

::-webkit-scrollbar {
    width: 7px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #C7EDCC;
    font-family: "Montserrat", sans-serif;
}

.heading {
    color: #1C1C1C;
    text-transform: capitalize;
    text-align: center;
    margin: 2rem 0;
    font-weight: 600;
    font-size: 2rem;
}

.author {
    color: #363636;
    text-transform: capitalize;
    text-align: center;
    margin: 1rem 0;
    font-weight: 400;
    font-size: 1.5rem;
}

.container {
    width: 60%;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}

#top-container {
    height: 100px;
    position: relative;
    display: flex;
}

.column {
    font-family: "Noto Sans SC", sans-serif;
    font-size: 1.1em;
    flex: 1 0 0;
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    border-left: solid 1px darkgrey;
    border-right: solid 1px darkgrey;
}

.chart-container {
    margin: auto;
    height: 400px;
}

#obstacle-map {
    text-align: center;
    border: solid 2px navy;
}

button {
    border: none;
    color: darkorange;
    background-color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

wiki {
    font-family: "Noto Sans SC", sans-serif;
    font-size: 1.2em;
    padding-bottom: 0em;
}

wiki a {
    color: rgb(94, 130, 248);
    text-align: center;
}

wiki p {
    text-align: center;
}

footer {
    font-family: "Noto Sans SC", sans-serif;
    font-size: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer a {
    color: rgb(94, 130, 248);
}

footer p {
    text-align: center;
}
