@charset "UTF-8";

::-webkit-scrollbar {
    width: 7px;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.heading {
    color: #1C1C1C;
    text-transform: capitalize;
    text-align: center;
    margin: 0.8rem 0;
    font-weight: 500;
    font-size: 2rem;
}

.author {
    color: #000080;
    text-transform: capitalize;
    text-align: center;
    margin: 0.5rem 0;
    font-weight: 500;
    font-size: 1.5rem;
}

.left {
    position: absolute; /*右栏定位过去*/
    left: 20px;
    width: 100px;
    height: 300px;
    /*opacity:0.5; /*半透明*/
}

.right {
    height: 300px;
    /*不设置宽，默认占整行*/
    margin-left: 400px;
    /*设置右边框，使其刚好让出右边框的位置，多了十像素是为了演示*/
}

canvas {
    display: block;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td, th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235, 235, 235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
    background-color: rgb(245, 245, 245);
}

caption {
    padding: 10px;
}

tbody {
    font-size: 90%;
    font-style: italic;
}

tfoot {
    font-weight: bold;
}

.tal {
    text-align: left;
}

.button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Blue */
.buttonZeroPID {
    background-color: #0000FF;
}

/* Red */
.buttonReset {
    background-color: #FF0000;
}

wiki {
    font-family: "Noto Sans SC", sans-serif;
    padding-bottom: 1em;
}

wiki a {
    color: rgb(94, 130, 248);
    text-align: center;
}

wiki p {
    text-align: center;
}

footer {
    font-family: "Noto Sans SC", sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer a {
    color: rgb(94, 130, 248);
}

footer p {
    text-align: center;
}

