@charset "UTF-8";

body {
    color: #C7EDCC;
    font-family: sans-serif;

    margin: 0 auto;
    overflow: hidden;
}

.caption {
    font-weight: bold;
    font-family: "Noto Sans SC", sans-serif;
    font-size: 1.2em;
    color: #FF5733;
    position: absolute;
    /*right: 0;   */
    text-align: center;
    bottom: 10px;
    margin: 10px;
    cursor: default;
}

.caption a {
    color: #F77825;
}

.control {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

#target {
    position: absolute;
    top: 200px;
    right: 0;
    margin: 50px;
    background-color: white;
    font-family: Arial;
    font-size: 24px;
    color: black;
    border: 1px solid black;
}

#walle {
    position: absolute;
    top: 300px;
    right: 0;
    margin: 50px;
    background-color: white;
    font-family: Arial;
    font-size: 24px;
    color: blue;
    border: 1px solid black;
}

#dist {
    position: absolute;
    top: 400px;
    right: 0;
    margin: 50px;
    background-color: white;
    font-family: "Times New Roman";
    font-size: 24px;
    color: red;
    border: 1px solid black;
}

#plot {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#plot_power {
    width: 400px;
    height: 180px;
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: white;
    font-size: 24px;
    color: black;
    border: 1px solid black;
}

#plot_pid_x {
    width: 500px;
    height: 200px;
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: white;
    font-size: 24px;
    color: black;
    border: 1px solid black;
}

#plot_pid_y {
    width: 500px;
    height: 200px;
    position: absolute;
    top: 400px;
    right: 20px;
    background-color: white;
    font-size: 24px;
    color: black;
    border: 1px solid black;
}