@charset "UTF-8";

::-webkit-scrollbar {
    width: 7px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #C7EDCC;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    color: black;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.heading {
    color: #1C1C1C;
    text-transform: capitalize;
    text-align: center;
    margin: 1.2rem 0;
    font-weight: 600;
    font-size: 2.5rem;
}

.author {
    color: #363636;
    text-transform: capitalize;
    text-align: center;
    margin: 1rem 0;
    font-weight: 400;
    font-size: 2rem;
}

header {
    color: rgb(4, 147, 114);
    width: 100%;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

button {
    width: 200px;
    background-color: white;
    border-color: rgb(20, 20, 20);
    border-width: 1px;
    box-shadow: none;
    border-radius: 3px;
    font-weight: bold;
    color: rgb(4, 147, 114);
    margin: 5px;
    padding: 2px;
}

button:hover {
    background-color: rgb(222, 222, 222);
}

table {
    border-style: solid;
    border-width: 4px;
}

td, th {
    width: 200px;
    height: 50px;
    background-color: #f5f5f5;
    color: #FF8C00;
    border-width: 3px;
    border-color: #1C1C1C;
}

.table-output {
    text-align: left;
    padding-left: 15px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #B22222;
}

a:active {
    color: black;
}

.inline-div {
    margin-top: 2vh;
    display: inline-block;
    width: 14vw;
    text-align: right;
}

.button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Red */
.buttonReset {
    background-color: #FF0000;
}

/* blue */
.buttonClear {
    background-color: #0000FF;
}

#result-table {
    display: none;
    /*text-align: center;*/
    /*margin: 0 auto;*/
}

wiki {
    font-family: "Noto Sans SC", sans-serif;
    margin: 1rem 0;
    padding-top: 1em;
    padding-bottom: 0em;
}

wiki a {
    color: rgb(94, 130, 248);
    text-align: center;
}

wiki p {
    margin-top: 50px;
    text-align: center;
}

footer {
    font-family: "Noto Sans SC", sans-serif;
    margin-top: 15px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    overflow-y: scroll;
}

footer a {
    color: rgb(94, 130, 248);
}

footer p {
    text-align: center;
}

