@charset "UTF-8";

::-webkit-scrollbar {
    width: 7px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #C7EDCC;
    font-family: "Montserrat", sans-serif;
}

.heading {
    color: #1C1C1C;
    text-transform: capitalize;
    text-align: center;
    margin: 2rem 0;
    font-weight: 600;
    font-size: 2.5rem;
}

.author {
    color: #363636;
    text-transform: capitalize;
    text-align: center;
    margin: 1rem 0;
    font-weight: 400;
    font-size: 2rem;
}

#canvas {
    background-color: #C7EDCC;
    position: relative;
}

.inputs {
    margin: 3rem 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.start-btn {
    margin-left: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    outline: none;
    color: #1C1C1C;
    font-size: 1.2rem;
    font-weight: 200;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: rgb(94, 130, 248);
}

.start-btn.running {
    background-color: rgb(248, 94, 94);
}

.start-btn.running:hover {
    background-color: rgb(238, 77, 77);
}

.start-btn:hover {
    background-color: rgb(68, 110, 247);
}

.inputs label {
    font-weight: 500;

    margin-bottom: 0.5rem;
}

.inputs > div {
    /* margin-right: 1rem; */
    display: flex;
    flex-direction: column;
}

label {
    color: #1C1C1C;
    font-size: 1rem;
    text-transform: capitalize;
}

#circle-number {
    background-color: transparent;
    color: #1C1C1C;
    border: none;
    outline: none;
    font-size: 1rem;
}

#circle-number:focus {
    border-bottom: 1px solid #1C1C1C;
}

#circle-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

wiki {
    font-family: "Noto Sans SC", sans-serif;
    font-size: 1.2em;
    padding-bottom: 1em;
}

wiki a {
    color: rgb(94, 130, 248);
    text-align: center;
}

wiki p {
    text-align: center;
}

footer {
    font-family: "Noto Sans SC", sans-serif;
    font-size: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer a {
    color: rgb(94, 130, 248);
}

footer p {
    text-align: center;
}
