:root {
    /* https://contrast-ratio.com */

    --txtClr: #333;
    --bgClr: hsl(0, 0%, 100%);
    --bg: linear-gradient(to right, hsl(214, 100%, 90%) 0%, hsl(214, 100%, 98%) 20%, hsl(214, 100%, 98%) 50%, hsl(214, 100%, 98%) 80%, hsl(214, 100%, 90%) 100%);

    --a0Clr: hsl(60, 100%, 97%); /* v v light yellow */
    --a1Clr: hsl(50, 100%, 95%); /* v light yellow */
    --a2Clr: hsl(50, 100%, 85%); /* light yellow  */
    --a3Clr: hsl(45, 100%, 77%); /* sand */
    --a4Clr: hsl(50, 100%, 28%); /* gold (text) */

    --b0Clr: hsl(213, 100%, 96%); /* v v light  blue */
    --b1Clr: hsl(214, 100%, 93%); /* v light blue */
    --b2Clr: hsl(214, 100%, 84%); /* light blue */
    --b3Clr: hsl(214, 65%, 43%); /* pretty blue (text) */
    --b4Clr: hsl(214, 100%, 25%); /* dark blue (text) */

    --o1Clr: hsl(30, 100%, 45%); /* orange (text) https://contrast-ratio.com contrast min 3 (large text) 4.5 (normal text) to b1Clr */
    /*--o1Clr: hsl(36, 80%, 40%); hsl(60, 80%, 30%); hsl(30, 100%, 41%) orange  hsl(100, 100%, 30%) green */
    --r1Clr: hsl(0, 100%, 60%); /* red (text) */

    --h1Shadow2: 2px 2px 2px hsl(0, 0%, 100%), inset 1px 1px 1px hsl(24, 100%, 100%);
    --h1Shadow: 1px 1px 1px hsl(0, 0%, 100%), -1px -1px 1px hsl(0, 0%, 100%);

    --trans: all linear 0.5s;

    --boldWt: bold;
    --boldPct: 100%;
}

.label {
    color: var(--txtClr);
    padding: 0.1rem;
    outline-style: none;
}

.control {
    border-radius: 0.6rem;
    padding: 0.3rem 0.3rem;
    transition: all linear 0.3s;
    background: linear-gradient(to bottom right, var(--b0Clr) 0%, var(--b1Clr) 100%);
}

.btn {
    text-align: center;
    margin: 0.1rem;
    padding: 0 0.5rem 0 0.5rem;
    text-decoration: none;
    font: bold 0.9rem/1.6rem Arial, sans-serif;
    color: var(--b3Clr);
    border: 0.1rem solid var(--b2Clr);
    border-radius: 0.6rem;
    cursor: pointer;
    background: linear-gradient(to top right, var(--b2Clr) 0%, var(--b2Clr) 30%, var(--bgClr) 100%);
    outline-style: none;
    user-select: none;
}

#canvasId {
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
}

.related {
    min-height: 3.1rem;
    border-top: 0.2rem solid var(--b2Clr);
    border-bottom: 0.2rem solid var(--b2Clr);
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    padding-top: 0.8rem;
    padding-bottom: 9px;
    font-weight: bold;
    font-size: 1.1rem;
    background-repeat: no-repeat;
    clear: none;
    text-align: center;
}

.related a {
    display: list-item;
    margin-top: 0.1rem;
    margin-left: 180px;
    font-weight: normal;
    list-style-type: circle;
}