@charset "UTF-8";

::-webkit-scrollbar {
    width: 7px;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Times New Roman", serif;
    font-size: 17px;
    overflow-y: scroll;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#spring {
    position: fixed;
    z-index: -1;
}

#controls {
    border: 1px solid black;
    background-color: white;
    padding: 1em;
    margin: 1em;
    width: 450px;
    position: absolute;
    right: 0;

    -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, .3);
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, .3);
}

.explanation {
    font-size: 13px;
}

fieldset {
    margin: 0.5em 0 2em;
}

fieldset:last-child {
    margin-bottom: 0;
}

td {
    padding: 4px 4px 4px 12px;
}

td:first-child {
    text-align: center;
    padding: 0;
    width: 5px; /* as small as possible */
}

sup, sub {
    font-size: 0.7em;
    text-decoration: none !important;
}

.hanging {
    display: inline-block;
    vertical-align: text-top
}

#controls #omegaf, #controls #f-oscillating-function {
    display: none;
}

#controls.f-oscillating #omegaf {
    display: table-row;
}

#controls.f-oscillating #f-oscillating-function {
    display: block;
}

#controls.f-oscillating #f .hanging {
    vertical-align: top;
}

.sqrt {
    border-top: 1px solid black;
}

.input[value="?"] {
    opacity: 0.1
}