@charset "UTF-8";

::-webkit-scrollbar {
    width: 7px;
}

:root {
    font-size: 20px;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    /* position: absolute; */

    display: block;
    overflow-x: hidden;
    /* overflow-y: scroll; */
}

body::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #403852;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

body::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #201c29, #201c29 1px, #00141d 0, #17141d);
}

.heading {
    font-family: "Montserrat", sans-serif;
    color: #1C1C1C;
    text-transform: capitalize;
    text-align: center;
    margin: 0.8rem 0;
    font-weight: 600;
    font-size: 2.5rem;
}

.author {
    font-family: "Montserrat", sans-serif;
    color: #363636;
    text-transform: capitalize;
    text-align: center;
    margin: 0.5rem 0;
    font-weight: 400;
    font-size: 2rem;
}


.button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Red */
.buttonReset {
    background-color: #FF0000;
}

#output {
    color: red;
    font-family: "Noto Sans SC", sans-serif;
    font-size: 2em;
}

#confidence {
    color: red;
    font-family: "Noto Sans SC", sans-serif;
    font-size: 2em;
}

wiki {
    font-family: "Noto Sans SC", sans-serif;
    padding-bottom: 0em;
}

wiki a {
    color: rgb(94, 130, 248);
    text-align: center;
}

wiki p {
    text-align: center;
}

footer {
    font-family: "Noto Sans SC", sans-serif;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

footer a {
    color: rgb(94, 130, 248);
}

footer p {
    text-align: center;
}
