@charset "UTF-8";

::-webkit-scrollbar {
    width: 7px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #C7EDCC;
    font-family: "Montserrat", sans-serif;
}

.heading {
    color: #1C1C1C;
    text-transform: capitalize;
    text-align: center;
    margin: 2rem 0;
    font-weight: 600;
    font-size: 2rem;
}

.author {
    color: #363636;
    text-transform: capitalize;
    text-align: center;
    margin: 1rem 0;
    font-weight: 400;
    font-size: 1.5rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 640px;
    border: 3px solid green;
}

canvas {

}

p {
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 5px;
    font-family: "Noto Sans SC", sans-serif;
    font-size: 20px;
    /*border: dotted black;*/
}

.button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Red */
.buttonReset {
    background-color: #FF0000;
}

wiki {
    font-family: "Noto Sans SC", sans-serif;
    font-size: 1.2em;
    padding-bottom: 0em;
}

wiki a {
    color: rgb(94, 130, 248);
    text-align: center;
}

wiki p {
    text-align: center;
}

footer {
    font-family: "Noto Sans SC", sans-serif;
    font-size: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer a {
    color: rgb(94, 130, 248);
}

footer p {
    text-align: center;
}
